.ds-inputtext {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    width: 100%;
  }
  
  .ds-inputtext.ds-inputtext--sm {
    max-width: 100px;
  }
  
  .ds-inputtext.ds-inputtext--md {
    max-width: 150px;
  }
  
  .ds-inputtext.ds-inputtext--lg {
    max-width: 300px;
  }
  
  .ds-inputtext__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: pink;
  }
  
  .ds-inputtext__wrapper.ds-inputtext__wrapper--left {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  
  .ds-inputtext__wrapper.ds-inputtext__wrapper--right {
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .ds-inputtext__input {
    color: gray;
    font-size: 12px;
    outline: none;
    padding: 10px 14px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .ds-inputtext__input.ds-inputtext__input--error {
    border-color: gray;
  }
  
  .ds-inputtext__label {
    padding: 0 4px;
    color: gray;
  }
  
  .ds-inputtext__label--required {
    color: gray;
    margin-left: 3px;
  }
  
  .ds-inputtext__alert {
    color: gray;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .ds-inputtext__icon {
    margin: 2px 5px 0 -40px;
    background-color: transparent;
    color: gray;
  }
  
  .ds-inputtext__input + .ds-inputtext__icon {
    padding-right: 35px;
  }
  
  input:read-only {
    background-color: gray;
    cursor: not-allowed;
    color: gray;
  }
  
  input:disabled {
    background-color: gray;
    cursor: not-allowed;
    color: gray;
  }
  